html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}

h1 {
    font-size: 6em;
    font-family: "Roblox", sans-serif;
    font-weight: bold;
}

h2 {
    font-family: "MemphisRiver", sans-serif;
    font-size: 7em;
}

h1,
h2 {
    margin: 0;
    color: rgb(0, 0, 0);
}

body {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}